examples/basic-system-clear-tag-example.json
[
    {
        "id": "8bb7d208.c3c57",
        "type": "tab",
        "label": "ePO System Clear Tag Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1baf42f9.3956ed",
        "type": "inject",
        "z": "8bb7d208.c3c57",
        "name": "Specify systems to clear tag from",
        "topic": "",
        "payload": "<specify-systems-to-clear-tag-from>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 40,
        "wires": [
            [
                "daf50c5d.89472"
            ]
        ]
    },
    {
        "id": "1cb40732.4dc489",
        "type": "debug",
        "z": "8bb7d208.c3c57",
        "name": "Output result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "6231ad62.4ffb74",
        "type": "dxl-epo-system-clear-tag",
        "z": "8bb7d208.c3c57",
        "name": "",
        "tagName": "<specify-tag-to-clear>",
        "client": "",
        "returnType": "obj",
        "outputFormat": "json",
        "x": 320,
        "y": 200,
        "wires": [
            [
                "1cb40732.4dc489"
            ]
        ]
    },
    {
        "id": "daf50c5d.89472",
        "type": "change",
        "z": "8bb7d208.c3c57",
        "name": "Set names request parameter",
        "rules": [
            {
                "t": "set",
                "p": "names",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "6231ad62.4ffb74"
            ]
        ]
    }
]
