examples/basic-system-apply-tag-example.json
[
    {
        "id": "f2c7ef2f.fd087",
        "type": "tab",
        "label": "ePO System Apply Tag Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "72af1c6e.bc3e54",
        "type": "inject",
        "z": "f2c7ef2f.fd087",
        "name": "Set systems to tag",
        "topic": "",
        "payload": "<specify-systems-to-tag>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 40,
        "wires": [
            [
                "817e30ac.79c24"
            ]
        ]
    },
    {
        "id": "a2ae4585.984aa8",
        "type": "debug",
        "z": "f2c7ef2f.fd087",
        "name": "Output result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 550,
        "y": 40,
        "wires": []
    },
    {
        "id": "817e30ac.79c24",
        "type": "dxl-epo-system-apply-tag",
        "z": "f2c7ef2f.fd087",
        "name": "",
        "tag": "<specify-tag-to-apply>",
        "client": "",
        "returnType": "obj",
        "outputFormat": "json",
        "x": 350,
        "y": 40,
        "wires": [
            [
                "a2ae4585.984aa8"
            ]
        ]
    }
]
