examples/basic-system-find-example.json
[
    {
        "id": "aa6bae5f.0610f",
        "type": "tab",
        "label": "ePO System Find Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c7bc69b9.85a7b8",
        "type": "inject",
        "z": "aa6bae5f.0610f",
        "name": "Set search text",
        "topic": "",
        "payload": "<specify-search-text>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 124,
        "y": 34,
        "wires": [
            [
                "66d5c266.d7f34c"
            ]
        ]
    },
    {
        "id": "22434806.a71f28",
        "type": "debug",
        "z": "aa6bae5f.0610f",
        "name": "Output systems",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 518,
        "y": 34,
        "wires": []
    },
    {
        "id": "66d5c266.d7f34c",
        "type": "dxl-epo-system-find",
        "z": "aa6bae5f.0610f",
        "name": "",
        "searchNameOnly": false,
        "client": "",
        "returnType": "obj",
        "outputFormat": "json",
        "x": 319,
        "y": 34,
        "wires": [
            [
                "22434806.a71f28"
            ]
        ]
    }
]
