examples/basic-system-apply-tag-example.json
[
    {
        "id": "4b328c04.a5b364",
        "type": "tab",
        "label": "ePO System Apply Tag Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "83f00c82.f04a7",
        "type": "inject",
        "z": "4b328c04.a5b364",
        "name": "Specify systems to tag",
        "topic": "",
        "payload": "<specify-systems-to-tag>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 40,
        "wires": [
            [
                "5bd26cf0.a366a4"
            ]
        ]
    },
    {
        "id": "7c58017c.c2ac",
        "type": "debug",
        "z": "4b328c04.a5b364",
        "name": "Output result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 470,
        "y": 200,
        "wires": []
    },
    {
        "id": "48750569.917bfc",
        "type": "dxl-epo-system-apply-tag",
        "z": "4b328c04.a5b364",
        "name": "",
        "tagName": "<specify-tag-to-apply>",
        "client": "",
        "epoUniqueId": "",
        "returnType": "obj",
        "outputFormat": "json",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "7c58017c.c2ac"
            ]
        ]
    },
    {
        "id": "5bd26cf0.a366a4",
        "type": "change",
        "z": "4b328c04.a5b364",
        "name": "Set names request parameter",
        "rules": [
            {
                "t": "set",
                "p": "names",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "48750569.917bfc"
            ]
        ]
    }
]
