examples/basic-system-find-example.json
[
    {
        "id": "b1270d2f.50822",
        "type": "tab",
        "label": "ePO System Find Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2f7039ec.2d3796",
        "type": "inject",
        "z": "b1270d2f.50822",
        "name": "Specify search text",
        "topic": "",
        "payload": "<specify-search-text>",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 40,
        "wires": [
            [
                "f92b5a0f.25be38"
            ]
        ]
    },
    {
        "id": "4b68346e.68111c",
        "type": "debug",
        "z": "b1270d2f.50822",
        "name": "Output systems",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "368ebbfa.2801f4",
        "type": "dxl-epo-system-find",
        "z": "b1270d2f.50822",
        "name": "",
        "client": "",
        "searchNameOnly": "",
        "epoUniqueId": "",
        "returnType": "obj",
        "outputFormat": "json",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "4b68346e.68111c"
            ]
        ]
    },
    {
        "id": "f92b5a0f.25be38",
        "type": "change",
        "z": "b1270d2f.50822",
        "name": "Set searchText request parameter",
        "rules": [
            {
                "t": "set",
                "p": "searchText",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "searchNameOnly",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 120,
        "wires": [
            [
                "368ebbfa.2801f4"
            ]
        ]
    }
]
