examples/basic-remote-command-example.json
[
    {
        "id": "cf545810.c447d",
        "type": "tab",
        "label": "ePO Remote Command Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a53e2b28.af2148",
        "type": "dxl-epo-remote-command",
        "z": "cf545810.c447d",
        "name": "Find tags in ePO",
        "command": "system.findTag",
        "client": "",
        "returnType": "obj",
        "outputFormat": "json",
        "x": 310,
        "y": 40,
        "wires": [
            [
                "4a1ee5ca.374cec"
            ]
        ]
    },
    {
        "id": "81828194.e565b",
        "type": "inject",
        "z": "cf545810.c447d",
        "name": "Set search text",
        "topic": "",
        "payload": "{\"searchText\":\"<specify-search-text>\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "a53e2b28.af2148"
            ]
        ]
    },
    {
        "id": "4a1ee5ca.374cec",
        "type": "debug",
        "z": "cf545810.c447d",
        "name": "Output tags",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 490,
        "y": 40,
        "wires": []
    }
]
